<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
    <ul>
        {% for healthcare_center in healthcare_centers %}
            <li>
                <a href="{{ path('app_healthcarecenter_show', {'slug': healthcare_center.slug }) }}">
                    {{ healthcare_center.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>